
utils/__pycache__/

utils/\.ipynb_checkpoints/

model/\.ipynb_checkpoints/

model/__pycache__/

model/deep_lab/__pycache__/

model/deep_lab/\.ipynb_checkpoints/

model/deep_lab/backbone/\.ipynb_checkpoints/

model/deep_lab/backbone/__pycache__/

model/deep_lab/sync_batchnorm/\.ipynb_checkpoints/

model/deep_lab/sync_batchnorm/__pycache__/

figures/\.ipynb_checkpoints/
